* {
    box-sizing:border-box;
    padding:0;  
    font-family: 'ArialMT';
}

@font-face {
    font-family: 'ArialMT';
    src: url(../fonts/ARIALMT.ttf);
    src: url(../fonts/ARIALMT.otf);
    src: url(../fonts/ARIALMT.eot);
    src: url(../fonts/ARIALMT.woff);
    font-weight: normal;
    font-style: normal;                    
}

.body {
    min-height: 323px;  
}

.header {
    background-color: #445162; 
    display: flex;
    justify-content: space-between;
    margin-top: -30px;   
}


.header__title {
    font-size: 60px;
    line-height: 1.2;
    font-weight: 400;
    color: #ffffff;
    margin-left: 50px;
    margin-top: 50px;
}

.header__list  {
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
    color: #ffffff;
    margin: 40px 86px 50px;
    list-style-image: url(../imgs/header_list_icon.png);
}

.header__list__item {
    padding-left: 5px;
}

/* Поставил видео вместо картинки, этот блок пока не нужен.
.header__img {
    width: 469px;
    height: 214px;
    margin: 80px 50px 59px;
} */

.header__vid {
    width: 469px;
    margin: 80px 50px 59px;
}

.section__title {
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    color: #445161;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    margin-top: 0;
}

.about {
    display: flex;
    justify-content: space-between;
}

.about__title {
    display: inline-block;
    margin: 49px 50px 0;
    padding: 0;
}

.about__container {
    display: flex;
    justify-content: space-between;
}

.about__text {
    flex-direction: column;
    max-width: 649px;
    margin-left: 50px;
    font-family: 'ArialMT';
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.text__item {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

/* Добавил видео вместо картинки, данный блок пока не нужен
.about__img {
    width: 430px;
    height: 245px;
    margin: 50px 50px 59px;
} */

.about__vid {
    width: 430px;
    margin: 50px 50px 59px;
}

.dignity, .reviews {
    background-color: #f5f5f5;
}

.dignity__container {
    width: 1158px;   
    display: flex;  
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 29px;
    margin-left: 50px;
    padding-bottom: 51px;
}

.dignity__text {
    max-width: 526px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.dignity__product {
    display: flex;
}

.dignity__img {
    width: 32px;
    height: 32px;
    margin-top: 23px;   
}

.dignity__text {
    padding-left: 9px;
}

.screenshots__container {
    display: flex;
    flex-wrap: wrap;
}

.screenshots__item {
    display: flex;
    margin: 34px 0 50px 50px;  
}

.screenshot__img {
    width: 200px;
    height: 150px;
    background-color: #445161;  
}

.screenshots__text {
    margin-left: 15px;
    max-width: 359px;
}

.screenshots__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #445161;  
    margin-top: 0;  
}

.screenshots_desc {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.reviews__title {
    margin-bottom: 34px;
}

.comment__container {
    display: flex;
    flex-wrap: wrap;
}

.comment__full {
    display: flex;
    margin-left: 50px;
}

.userphoto {
    width: 75px;
    height: 75px;
}

.comment {
    position: relative;
    width: 483px;
    background-color: #ebebeb;
    margin-bottom: 24px;
    margin-left: 20px;
    border:1px transparent;
    border-radius: 5px;
    padding: 0 28px;
}

.comment__text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #333333;    
}

.comment::before {
    content: '';
    display: block;
    width: 0px;
    height: 0px;
    border: 29px solid transparent;
    border-right: 27px solid #ebebeb;
    position: absolute;
    top: 10px;
    left: -40px;
}

.comment__sign {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    padding-bottom: 0px;
}

.right__block {
    margin-left: 32px;
}

.pd__btm {
   padding-bottom: 27px; 
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-top: 29px;
    margin-left: 45px;
}

.sub__card {
    width: 300px;
    background-color: #445162;
    display: flex;
    flex-direction: column;
    border: 1px transparent;
    border-radius: 5px;
    margin-right: 45px;
}

.sub__card__title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    margin: 16px;
}

.sub__card__price {
    width: 300px;
    height: 71px;
    border: 2px solid #445162;
    background-color: #ffffff;
    font-size: 40px;
    line-height: 71px;
    font-weight: 400;
    color: #445162;
    text-align: center;
    margin: 0;
}

.sub__card__desc {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    margin: 19px 20px;
    list-style-position: inside;
}

.purchase {
    width: 260px;
    height: 40px;
    background-color: #ffffff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 700;
    color: #445161;
    border: 1px transparent;
    border-radius: 5px;
    align-self: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.contacts {
    background-color: #445162;
    margin-top: 50px;
}

.contacts__title {
    color: #ffffff;
    margin-bottom: 0;
}

.relations {
    display: flex;
    justify-content: center; 
    margin-top: 31px;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.contacts__input {
    width: 500px;
    height: 40px;
    background-color: #ffffff;
    margin-top: 22px;
    border: none;
    border-radius: 5px;
    text-indent: 10px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #445162;
}

.msg-inp {
    padding-top: 10px;
}

.name {
    margin: 0;
}

.contacts__input::placeholder {
    color: #445162;   
}

.send__btn {
    width: 140px;
    height: 40px;
    margin-top: 21px;
    margin-bottom: 49px;
    align-self: center;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #445162;
    border: none;
    border-radius: 5px;
}

.communication {
    margin-left: 46px;
}

.contact {
    display: flex;
    align-items: center; 
    margin-top: 20px;
}

.contact__text {
    text-decoration: none;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 5px;
}

.firstchild {
    margin-top: 0;
}

.socials {
    margin-top: 37px;
}

.copyright {
    text-align: center;
    font-size: 12px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #445162;
    margin: 0;
}